<section class="shop">
      <div class="container">
        <div class="shop__nav">
          <h1 class="shop__nav-title title">
            Каталог продуктов
          </h1>
          <form class="shop__nav-form" action="#">
            <button class="shop__nav-btn" type="button">
              <span class="sr-only">открыть фильтр меню</span>
            </button>
            <select class="shop__filter-sort select-style">
              <option value="default" selected>По названию</option>
              <option value="option1">1</option>
              <option value="option2">2</option>
              <option value="option3">3</option>
            </select>
            <select class="shop__filter-sort select-style">
              <option value="default" selected>по 12</option>
              <option value="option1">1</option>
              <option value="option2">2</option>
              <option value="option3">3</option>
            </select>
          </form>
        </div>
        <div class="shop__inner">
          <ul class="shop__filters">
            <li class="shop__filters-item shop__filters-item--close">
              <button class="shop__filters-btn" type="button"></button>
            </li>
            <li class="shop__filters-item">
              <h2 class="shop__title">
                Категории
              </h2>
              <ul class="shop__filters-list shop__filters-content">
                <li class="shop__item">
                  <a class="shop__link link--active link" href="#">Бургеры</a>
                </li>
                <li class="shop__item">
                  <a class="shop__link link" href="#">Пицца</a>
                </li>
                <li class="shop__item">
                  <a class="shop__link link" href="#">Сендвичи</a>
                </li>
                <li class="shop__item">
                  <a class="shop__link link" href="#">Азиатская кухня</a>
                </li>
                <li class="shop__item">
                  <a class="shop__link link" href="#">Сеты</a>
                </li>
                <li class="shop__item">
                  <a class="shop__link link" href="#">Европейская кухня</a>
                </li>
                <li class="shop__item">
                  <a class="shop__link link" href="#">Напитки</a>
                </li>
                <li class="shop__item">
                  <a class="shop__link link" href="#">Алкоголь</a>
                </li>
              </ul>
            </li>
            <li class="shop__filters-item">
              <h2 class="shop__title">
                Предложения
              </h2>
              <form class="shop__filters-form shop__filters-content" action="#">
                <label class="shop__filters-label">
                  <input class="shop__filters-input" type="checkbox">
                  <span class="shop__filters-checkbox"></span>
                  <span class="shop__filters-text">Со скидкой</span>
                </label>
                <label class="shop__filters-label">
                  <input class="shop__filters-input" type="checkbox">
                  <span class="shop__filters-checkbox"></span>
                  <span class="shop__filters-text">Новинка</span>
                </label>
                <label class="shop__filters-label">
                  <input class="shop__filters-input" type="checkbox">
                  <span class="shop__filters-checkbox"></span>
                  <span class="shop__filters-text">Хит</span>
                </label>
              </form>
            </li>
            <li class="shop__filters-item">
              <h2 class="shop__title">
                Цена
              </h2>
              <form class="shop__filters-form shop__filters-range shop__filters-content" action="#">
                <div class="shop__rangle-box">
                  <span class="shop__filters-inner">
                    от
                    <input type="number" class="js-input-from shop__filters-price" value="0">
                    <span class="shop__filters-currency">₴</span>
                  </span>
                  <span class="shop__filters-inner">
                    до
                    <input type="number" class="js-input-to shop__filters-price" value="0">
                    <span class="shop__filters-currency">₴</span>
                  </span>
                </div>
                <div class="range-slider">
                  <input type="text" class="js-range-slider" value="">
                </div>
              </form>
            </li>
          </ul>
          <div class="shop__content">
            <ul class="shop__content-list">
              <li class="shop__content-item">
                <article class="product-card">
                  <a class="product-card__link" href="product.html">
                    <img class="product-card__img" width="140" height="140" src="~/Content/images/products/1.jpg"
                      alt="Чизбургер с листьями салата">
                  </a>
                  <h3 class="product-card__title">
                    Чизбургер с листьями салата
                  </h3>
                  <span class="product-card__price">
                    160 <span>грн.</span>
                  </span>
                  <button class="product-card__btn btn" type="button">
                    В корзину
                  </button>
                </article>
              </li>
              <li class="shop__content-item">
                <article class="product-card">
                  <a class="product-card__link" href="product.html">
                    <img class="product-card__img" width="140" height="140" src="~/Content/images/products/2.jpg" alt="Бифбургер">
                  </a>
                  <h3 class="product-card__title">
                    Бифбургер
                  </h3>
                  <span class="product-card__price">
                    190 <span>грн.</span>
                  </span>
                  <button class="product-card__btn btn" type="button">
                    В корзину
                  </button>
                </article>
              </li>
              <li class="shop__content-item">
                <article class="product-card">
                  <a class="product-card__link" href="product.html">
                    <img class="product-card__img" width="140" height="140" src="~/Content/images/products/3.jpg"
                      alt="Королевский чизбургер">
                  </a>
                  <h3 class="product-card__title">
                    Королевский чизбургер
                  </h3>
                  <span class="product-card__price">
                    260 <span>грн.</span>
                  </span>
                  <button class="product-card__btn btn" type="button">
                    В корзину
                  </button>
                </article>
              </li>
              <li class="shop__content-item">
                <article class="product-card">
                  <a class="product-card__link" href="product.html">
                    <img class="product-card__img" width="140" height="140" src="~/Content/images/products/4.jpg"
                      alt="Черный гамбургер">
                  </a>
                  <h3 class="product-card__title">
                    Черный гамбургер
                  </h3>
                  <span class="product-card__price">
                    199 <span>грн.</span>
                  </span>
                  <button class="product-card__btn btn" type="button">
                    В корзину
                  </button>
                </article>
              </li>
              <li class="shop__content-item">
                <article class="product-card">
                  <a class="product-card__link" href="product.html">
                    <img class="product-card__img" width="140" height="140" src="~/Content/images/products/5.jpg"
                      alt="Чикен бургер">
                  </a>
                  <h3 class="product-card__title">
                    Чикен бургер
                  </h3>
                  <span class="product-card__price">
                    180 <span>грн.</span>
                  </span>
                  <button class="product-card__btn btn" type="button">
                    В корзину
                  </button>
                </article>
              </li>
              <li class="shop__content-item">
                <article class="product-card">
                  <a class="product-card__link" href="product.html">
                    <img class="product-card__img" width="140" height="140" src="~/Content/images/products/1.jpg"
                      alt="Чизбургер с листьями салата">
                  </a>
                  <h3 class="product-card__title">
                    Чизбургер с листьями салата
                  </h3>
                  <span class="product-card__price">
                    160 <span>грн.</span>
                  </span>
                  <button class="product-card__btn btn" type="button">
                    В корзину
                  </button>
                </article>
              </li>
              <li class="shop__content-item">
                <article class="product-card">
                  <a class="product-card__link" href="product.html">
                    <img class="product-card__img" width="140" height="140" src="~/Content/images/products/2.jpg" alt="Бифбургер">
                  </a>
                  <h3 class="product-card__title">
                    Бифбургер
                  </h3>
                  <span class="product-card__price">
                    190 <span>грн.</span>
                  </span>
                  <button class="product-card__btn btn" type="button">
                    В корзину
                  </button>
                </article>
              </li>
              <li class="shop__content-item">
                <article class="product-card">
                  <a class="product-card__link" href="product.html">
                    <img class="product-card__img" width="140" height="140" src="~/Content/images/products/3.jpg"
                      alt="Королевский чизбургер">
                  </a>
                  <h3 class="product-card__title">
                    Королевский чизбургер
                  </h3>
                  <span class="product-card__price">
                    260 <span>грн.</span>
                  </span>
                  <button class="product-card__btn btn" type="button">
                    В корзину
                  </button>
                </article>
              </li>
              <li class="shop__content-item">
                <article class="product-card">
                  <a class="product-card__link" href="product.html">
                    <img class="product-card__img" width="140" height="140" src="~/Content/images/products/4.jpg"
                      alt="Черный гамбургер">
                  </a>
                  <h3 class="product-card__title">
                    Черный гамбургер
                  </h3>
                  <span class="product-card__price">
                    199 <span>грн.</span>
                  </span>
                  <button class="product-card__btn btn" type="button">
                    В корзину
                  </button>
                </article>
              </li>
              <li class="shop__content-item">
                <article class="product-card">
                  <a class="product-card__link" href="product.html">
                    <img class="product-card__img" width="140" height="140" src="~/Content/images/products/5.jpg"
                      alt="Чикен бургер">
                  </a>
                  <h3 class="product-card__title">
                    Чикен бургер
                  </h3>
                  <span class="product-card__price">
                    180 <span>грн.</span>
                  </span>
                  <button class="product-card__btn btn" type="button">
                    В корзину
                  </button>
                </article>
              </li>
              <li class="shop__content-item">
                <article class="product-card">
                  <a class="product-card__link" href="product.html">
                    <img class="product-card__img" width="140" height="140" src="~/Content/images/products/1.jpg"
                      alt="Чизбургер с листьями салата">
                  </a>
                  <h3 class="product-card__title">
                    Чизбургер с листьями салата
                  </h3>
                  <span class="product-card__price">
                    160 <span>грн.</span>
                  </span>
                  <button class="product-card__btn btn" type="button">
                    В корзину
                  </button>
                </article>
              </li>
              <li class="shop__content-item">
                <article class="product-card">
                  <a class="product-card__link" href="product.html">
                    <img class="product-card__img" width="140" height="140" src="~/Content/images/products/2.jpg" alt="Бифбургер">
                  </a>
                  <h3 class="product-card__title">
                    Бифбургер
                  </h3>
                  <span class="product-card__price">
                    190 <span>грн.</span>
                  </span>
                  <button class="product-card__btn btn" type="button">
                    В корзину
                  </button>
                </article>
              </li>
            </ul>
            <ul class="pagination">
              <li class="pagination__item">
                <span
                  class="pagination__link pagination__arrow pagination__arrow--prev pagination__arrow--disabled"></span>
              </li>
              <li class="pagination__item">
                <a class="pagination__link pagination__element pagination__link--active" href="#">1</a>
              </li>
              <li class="pagination__item pagination__item-responsive">
                <a class="pagination__link pagination__element" href="#">2</a>
              </li>
              <li class="pagination__item">
                <span class="pagination__link">...</span>
              </li>
              <li class="pagination__item pagination__item-responsive">
                <a class="pagination__link pagination__element" href="#">9</a>
              </li>
              <li class="pagination__item">
                <a class="pagination__link pagination__element" href="#">10</a>
              </li>
              <li class="pagination__item">
                <a class="pagination__link pagination__element pagination__arrow" href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="app section">
      <div class="container">
        <div class="app__inner" style="background-image: url(../../Content/images/app.jpg);">
          <div class="app__content">
            <h2 class="title app__title">
              Скачайте мобильное приложение
            </h2>
            <p class="app__text">
              Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном
              месте.
            </p>
            <ul class="app__list">
              <li class="app__item">
                <a class="app__link" target="_blank" href="#" rel="noopener noreferrer">
                  <img class="app__img" width="120" height="40" src="~/Content/images/icons/appstore.svg" alt="appstore">
                </a>
              </li>
              <li class="app__item">
                <a class="app__link" target="_blank" href="#" rel="noopener noreferrer">
                  <img class="app__img" width="135" height="40" src="~/Content/images/icons/googleplay.svg" alt="googleplay">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="promotions">
      <div class="container">
        <h2 class="promotions__title title">
          Акции и скидки
        </h2>
        <ul class="promotions__list">
          <li class="promotions__item">
            <article class="restaurant-card">
              <img class="restaurant-card__img" src="~/Content/images/restaurants/1.jpg" width="370" height="300"
                alt="Blaze Pizza">
              <div class="restaurant-card__box">
                <h3 class="restaurant-card__title">
                  Скидка 50% на вторую пиццу
                </h3>
              </div>
            </article>
          </li>
          <li class="promotions__item">
            <article class="restaurant-card">
              <img class="restaurant-card__img" width="370" height="300" src="~/Content/images/restaurants/5.jpg" alt="KFC">
              <div class="restaurant-card__box">
                <h3 class="restaurant-card__title">
                  Картошечка из KFC даром при заказе бургера
                </h3>
              </div>
            </article>
          </li>
          <li class="promotions__item">
            <article class="restaurant-card">
              <img class="restaurant-card__img" width="370" height="300" src="~/Content/images/restaurants/6.jpg"
                alt="Star Burgers">
              <div class="restaurant-card__box">
                <h3 class="restaurant-card__title">
                  Чёрные бургеры на чёрный день
                </h3>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </section>