@{
    ViewBag.Title = "Home Page";
}

  <section class="popular-categories section">
  <div class="container">
    <h2 class="title popular-categories__title">
      Популярные категории
    </h2>
    <ul class="popular-categories__tabs tabs">
      <li class="popular-categories__tabs-item">
        <a class="popular-categories__tab tab tab--active btn" href="#tab-1">
          <svg class="tab-ico">
            <use xlink:href="images/icons/sprites/sprite.svg#burger"></use>
          </svg>
          Бургеры
        </a>
      </li>
      <li class="popular-categories__tabs-item">
        <a class="popular-categories__tab tab btn" href="#tab-2">
          <svg class="tab-ico">
            <use xlink:href="images/icons/sprites/sprite.svg#pizza"></use>
          </svg>
          Пицца
        </a>
      </li>
      <li class="popular-categories__tabs-item">
        <a class="popular-categories__tab tab btn" href="#tab-3">
          <svg class="tab-ico">
            <use xlink:href="images/icons/sprites/sprite.svg#sandwich"></use>
          </svg>
          Сендвичи
        </a>
      </li>
      <li class="popular-categories__tabs-item">
        <a class="popular-categories__tab tab btn" href="#tab-4">
          <svg class="tab-ico">
            <use xlink:href="images/icons/sprites/sprite.svg#christmas-dinner"></use>
          </svg>
          Азиатская кухня
        </a>
      </li>
      <li class="popular-categories__tabs-item">
        <a class="popular-categories__tab tab btn" href="#tab-5">
          <svg class="tab-ico">
            <use xlink:href="images/icons/sprites/sprite.svg#dish"></use>
          </svg>
          Cеты
        </a>
      </li>
    </ul>
    <ul class="popular-categories__content tabs-inner">
      <li id="tab-1" class="popular-categories__content-item tabs-content tabs-content--active">
        <ul class="popular-categories__list">
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/1.jpg"
                alt="Чизбургер с листьями салата">
              <h3 class="product-card__title">
                Чизбургер с листьями салата
              </h3>
              <span class="product-card__price">
                160 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/2.jpg" alt="Бифбургер">
              <h3 class="product-card__title">
                Бифбургер
              </h3>
              <span class="product-card__price">
                190 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/3.jpg"
                alt="Королевский чизбургер">
              <h3 class="product-card__title">
                Королевский чизбургер
              </h3>
              <span class="product-card__price">
                260 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/4.jpg"
                alt="Черный гамбургер">
              <h3 class="product-card__title">
                Черный гамбургер
              </h3>
              <span class="product-card__price">
                199 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/5.jpg" alt="Чикен бургер">
              <h3 class="product-card__title">
                Чикен бургер
              </h3>
              <span class="product-card__price">
                180 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/1.jpg"
                alt="Чизбургер с листьями салата">
              <h3 class="product-card__title">
                Чизбургер с листьями салата
              </h3>
              <span class="product-card__price">
                160 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/2.jpg" alt="Бифбургер">
              <h3 class="product-card__title">
                Бифбургер
              </h3>
              <span class="product-card__price">
                190 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/3.jpg"
                alt="Королевский чизбургер">
              <h3 class="product-card__title">
                Королевский чизбургер
              </h3>
              <span class="product-card__price">
                260 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/4.jpg"
                alt="Черный гамбургер">
              <h3 class="product-card__title">
                Черный гамбургер
              </h3>
              <span class="product-card__price">
                199 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/5.jpg" alt="Чикен бургер">
              <h3 class="product-card__title">
                Чикен бургер
              </h3>
              <span class="product-card__price">
                180 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
        </ul>
      </li>
      <li id="tab-2" class="popular-categories__content-item tabs-content">
        <ul class="popular-categories__list">
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/5.jpg" alt="Чикен бургер">
              <h3 class="product-card__title">
                Чикен бургер
              </h3>
              <span class="product-card__price">
                180 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/1.jpg"
                alt="Чизбургер с листьями салата">
              <h3 class="product-card__title">
                Чизбургер с листьями салата
              </h3>
              <span class="product-card__price">
                160 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/2.jpg" alt="Бифбургер">
              <h3 class="product-card__title">
                Бифбургер
              </h3>
              <span class="product-card__price">
                190 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
        </ul>
      </li>
      <li id="tab-3" class="popular-categories__content-item tabs-content">
        <ul class="popular-categories__list">
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/1.jpg"
                alt="Чизбургер с листьями салата">
              <h3 class="product-card__title">
                Чизбургер с листьями салата
              </h3>
              <span class="product-card__price">
                160 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/2.jpg" alt="Бифбургер">
              <h3 class="product-card__title">
                Бифбургер
              </h3>
              <span class="product-card__price">
                190 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/3.jpg"
                alt="Королевский чизбургер">
              <h3 class="product-card__title">
                Королевский чизбургер
              </h3>
              <span class="product-card__price">
                260 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/4.jpg"
                alt="Черный гамбургер">
              <h3 class="product-card__title">
                Черный гамбургер
              </h3>
              <span class="product-card__price">
                199 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/5.jpg" alt="Чикен бургер">
              <h3 class="product-card__title">
                Чикен бургер
              </h3>
              <span class="product-card__price">
                180 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
        </ul>
      </li>
      <li id="tab-4" class="popular-categories__content-item tabs-content">
        <ul class="popular-categories__list">
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/5.jpg" alt="Чикен бургер">
              <h3 class="product-card__title">
                Чикен бургер
              </h3>
              <span class="product-card__price">
                180 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/1.jpg"
                alt="Чизбургер с листьями салата">
              <h3 class="product-card__title">
                Чизбургер с листьями салата
              </h3>
              <span class="product-card__price">
                160 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/2.jpg" alt="Бифбургер">
              <h3 class="product-card__title">
                Бифбургер
              </h3>
              <span class="product-card__price">
                190 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/3.jpg"
                alt="Королевский чизбургер">
              <h3 class="product-card__title">
                Королевский чизбургер
              </h3>
              <span class="product-card__price">
                260 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/4.jpg"
                alt="Черный гамбургер">
              <h3 class="product-card__title">
                Черный гамбургер
              </h3>
              <span class="product-card__price">
                199 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/5.jpg" alt="Чикен бургер">
              <h3 class="product-card__title">
                Чикен бургер
              </h3>
              <span class="product-card__price">
                180 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
        </ul>
      </li>
      <li id="tab-5" class="popular-categories__content-item tabs-content">
        <ul class="popular-categories__list">
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/1.jpg"
                alt="Чизбургер с листьями салата">
              <h3 class="product-card__title">
                Чизбургер с листьями салата
              </h3>
              <span class="product-card__price">
                160 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/2.jpg" alt="Бифбургер">
              <h3 class="product-card__title">
                Бифбургер
              </h3>
              <span class="product-card__price">
                190 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/3.jpg"
                alt="Королевский чизбургер">
              <h3 class="product-card__title">
                Королевский чизбургер
              </h3>
              <span class="product-card__price">
                260 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="popular-categories__item">
            <article class="product-card">
              <img class="product-card__img" width="140" height="140" src="~/Content/images/products/4.jpg"
                alt="Черный гамбургер">
              <h3 class="product-card__title">
                Черный гамбургер
              </h3>
              <span class="product-card__price">
                199 <span>грн.</span>
              </span>
              <button class="product-card__btn btn" type="button">
                В корзину
              </button>
            </article>
          </li>
        </ul>
      </li>
    </ul>
    <a class="popular-categories__link link link--before" href="#">
      Показать еще
    </a>
  </div>
</section>

  <section class="features section">
  <div class="container">
    <div class="features__inner" style="background-image: url('../../Content/images/features-bg.png');">
      <div class="features__box">
        <h2 class="title features__title">
          Оставайтесь дома, <br>
          а мы позаботимся о еде
        </h2>
        <p class="features__text">
          У нас есть вкусная еда и мы готовы доставить её к вам домой! Воспользуйтесь нашей доставкой прямо сейчас и
          получите
          скиидку!
        </p>
        <ul class="features__list">
          <li class="features__item features__item--watch">
            Быстрая доставка за 15 минут
          </li>
          <li class="features__item features__item--delivery">
            Вежливые курьеры
          </li>
          <li class="features__item features__item--shop">
            Более 500 заведений
          </li>
        </ul>
        <a class="features__link btn" href="#">Подробнее</a>
      </div>
    </div>
  </div>
</section>

  <section class="restaurants section">
  <div class="container">
    <h2 class="restaurants__title title">
      Лучшие рестораны
    </h2>
    <ul class="restaurants__list">
      <li class="restaurants__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="~/Content/images/restaurants/1.jpg" width="370" height="300" alt="Blaze Pizza">
          <div class="restaurant-card__box">
            <h3 class="restaurant-card__title">
              Blaze Pizza
            </h3>
            <div class="restaurant-card__nav">
              <span class="restaurant-card__time">11:00 - 22:00</span>
              <a class="restaurant-card__link btn" href="#">
                <span class="sr-only">Узнать Подробнее</span>
                <svg class="arrow-right-ico">
                  <use xlink:href="images/icons/sprites/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" width="370" height="300" src="~/Content/images/restaurants/2.jpg" alt="Pizza Runcho">
          <div class="restaurant-card__box">
            <h3 class="restaurant-card__title">
              Pizza Runcho
            </h3>
            <div class="restaurant-card__nav">
              <span class="restaurant-card__time">12:00 - 21:00</span>
              <a class="restaurant-card__link btn" href="#">
                <span class="sr-only">Узнать подробнее</span>
                <svg class="arrow-right-ico">
                  <use xlink:href="images/icons/sprites/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" width="370" height="300" src="~/Content/images/restaurants/3.jpg" alt="Pizza Hut">
          <div class="restaurant-card__box">
            <h3 class="restaurant-card__title">
              Pizza Hut
            </h3>
            <div class="restaurant-card__nav">
              <span class="restaurant-card__time">11:00 - 22:00</span>
              <a class="restaurant-card__link btn" href="#">
                <span class="sr-only">Узнать подробнее</span>
                <svg class="arrow-right-ico">
                  <use xlink:href="images/icons/sprites/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" width="370" height="300" src="~/Content/images/restaurants/4.jpg" alt="McDonald`s">
          <div class="restaurant-card__box">
            <h3 class="restaurant-card__title">
              McDonald`s
            </h3>
            <div class="restaurant-card__nav">
              <span class="restaurant-card__time">06:00 - 23:00</span>
              <a class="restaurant-card__link btn" href="#">
                <span class="sr-only">Узнать подробнее</span>
                <svg class="arrow-right-ico">
                  <use xlink:href="images/icons/sprites/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" width="370" height="300" src="~/Content/images/restaurants/5.jpg" alt="KFC">
          <div class="restaurant-card__box">
            <h3 class="restaurant-card__title">
              KFC
            </h3>
            <div class="restaurant-card__nav">
              <span class="restaurant-card__time">06:00 - 23:30</span>
              <a class="restaurant-card__link btn" href="#">
                <span class="sr-only">Узнать подробнее</span>
                <svg class="arrow-right-ico">
                  <use xlink:href="images/icons/sprites/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="restaurants__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" width="370" height="300" src="~/Content/images/restaurants/6.jpg" alt="Star Burgers">
          <div class="restaurant-card__box">
            <h3 class="restaurant-card__title">
              Star Burgers
            </h3>
            <div class="restaurant-card__nav">
              <span class="restaurant-card__time">09:00 - 21:00</span>
              <a class="restaurant-card__link btn" href="#">
                <span class="sr-only">Узнать подробнее</span>
                <svg class="arrow-right-ico">
                  <use xlink:href="images/icons/sprites/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>

  <section class="reviews section">
  <div class="container">
    <h2 class="title reviews__title">
      Отзывы клиентов
    </h2>
    <ul class="reviews__slider">
      <li class="reviews__item">
        <div class="reviews__inner">
          <img class="reviews__img" width="300" height="300" src="~/Content/images/slide.jpg" alt="Дарья">
          <div class="reviews__box">
            <blockquote class="reviews__blockquote">
              <p class="reviews__text">
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
            </blockquote>
            <cite class="reviews__cite">
              Дарья
              <span>Ценитель вкусной еды</span>
            </cite>
          </div>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__inner">
          <img class="reviews__img" width="300" height="300" src="~/Content/images/slide.jpg" alt="Дарья">
          <div class="reviews__box">
            <blockquote class="reviews__blockquote">
              <p class="reviews__text">
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
            </blockquote>
            <cite class="reviews__cite">
              Дарья
              <span>Ценитель вкусной еды</span>
            </cite>
          </div>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__inner">
          <img class="reviews__img" width="300" height="300" src="~/Content/images/slide.jpg" alt="Дарья">
          <div class="reviews__box">
            <blockquote class="reviews__blockquote">
              <p class="reviews__text">
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
            </blockquote>
            <cite class="reviews__cite">
              Дарья
              <span>Ценитель вкусной еды</span>
            </cite>
          </div>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__inner">
          <img class="reviews__img" width="300" height="300" src="~/Content/images/slide.jpg" alt="Дарья">
          <div class="reviews__box">
            <blockquote class="reviews__blockquote">
              <p class="reviews__text">
                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
                приложение. Их
                доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
                однозначно
                рекомендую!
              </p>
            </blockquote>
            <cite class="reviews__cite">
              Дарья
              <span>Ценитель вкусной еды</span>
            </cite>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

  <section class="app section">
  <div class="container">
    <div class="app__inner" style="background-image: url(../../Content/images/app.jpg);">
      <div class="app__content">
        <h2 class="title app__title">
          Скачайте мобильное приложение
        </h2>
        <p class="app__text">
          Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном
          месте.
        </p>
        <ul class="app__list">
          <li class="app__item">
            <a class="app__link" target="_blank" href="#" rel="noopener noreferrer">
              <img class="app__img" width="120" height="40" src="~/Content/images/icons/appstore.svg" alt="appstore">
            </a>
          </li>
          <li class="app__item">
            <a class="app__link" target="_blank" href="#" rel="noopener noreferrer">
              <img class="app__img" width="135" height="40" src="~/Content/images/icons/googleplay.svg" alt="googleplay">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>